.navIcons {
  background-color: transparent;
  border: none;
  color: white;
  margin: 0 20px;
  padding: 10px 50px;
}
.navDropdownButton {
  text-align: center;
}
.navActiveLink {
  background-color: crimson;
}
