<div class="manageProductsContainer">
  <button class="btn btn-primary mb-3" routerLink="/newProduct">
    New Product
  </button>
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as id">
        <td>{{ id + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency: "INR" }}</td>
        <td>
          <button class="btn btn-warning" (click)="editProduct(product.id)">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
